<div class="background-image-container">
    <div class="food-row">
      <div class="food-placeholder">
        <img src="path_to_food_image_1.jpg" alt="Food Image 1">
        <div class="food-details">
          <h3>Food Name 1</h3>
          <p>Description of the food 1</p>
          <p>Price: $10</p>
        </div>
      </div>
      <div class="food-placeholder">
        <img src="path_to_food_image_2.jpg" alt="Food Image 2">
        <div class="food-details">
          <h3>Food Name 2</h3>
          <p>Description of the food 2</p>
          <p>Price: $15</p>
        </div>
      </div>
      <div class="food-placeholder">
        <img src="path_to_food_image_3.jpg" alt="Food Image 3">
        <div class="food-details">
          <h3>Food Name 3</h3>
          <p>Description of the food 3</p>
          <p>Price: $20</p>
        </div>
      </div>
      <div class="food-placeholder">
        <img src="path_to_food_image_4.jpg" alt="Food Image 4">
        <div class="food-details">
          <h3>Food Name 4</h3>
          <p>Description of the food 4</p>
          <p>Price: $25</p>
        </div>
      </div>
    </div>
  </div>
  