<!-- Placeholder Container -->
<div class="background-image-container">
  <div class="placeholder-container">
    <div class="placeholder" *ngFor="let product of products">
      <!-- Product Image -->
      <div class="image-placeholder" [style.backgroundImage]="'url(' + product.imageUrl + ')'"></div>
      
      <!-- Product Details -->
      <div class="details-placeholder">
        <div class="name">{{ product.productName }}</div>
        <div class="price">{{ product.price }}</div>
        <div class="description">{{ product.description }}</div>
        
        <!-- Review Container -->
        <div class="review-container">
          <button class="review-button" (click)="toggleReview(product)">Add Your Review</button>
          <div *ngIf="product.showReview" class="review-section">
            <h3>Add Your Review</h3>
            <label for="stars">Stars:</label>
            <input type="number" id="stars" [(ngModel)]="product.review.stars" name="stars" min="0" max="5">
            <label for="comment">Comment:</label>
            <textarea id="comment" [(ngModel)]="product.review.comment" name="comment"></textarea>
            <button class="submit-button" (click)="submitReview(product)">Submit Review</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
