<div class="slideshow-container">
  <a routerLink="/carnage" class="slide" *ngFor="let image of images; let i = index" [class.active]="i === currentSlideIndex">
      <img [src]="image.url" alt="Slide {{i}}">
      <div class="slide-content" *ngIf="i === currentSlideIndex">
          <h2>CARNAGE</h2>
          <hr>
          <p>Insert your aesthetic quote about Srilankan cuisine here.</p>
      </div>
  </a>
</div>


  
  <div class="slideshow-container">
    <div *ngFor="let image of otherImages; let i = index" class="slide" [class.active]="i === currentOtherSlideIndex">
      <img [src]="image.url" alt="Other Slide {{i}}">
    </div>
  </div>
  