<div class="background-image-container">
    <div class="row">
      <div class="placeholder">
        <img src="hotel-image.jpg" alt="Hotel Image">
        <div class="description">
          <h3>Hotel Name</h3>
          <p>Description of the hotel goes here...</p>
          <p>Star Rating: <span class="stars">★★★★☆</span></p>
        </div>
      </div>
      <div class="placeholder">
        <img src="hotel-image.jpg" alt="Hotel Image">
        <div class="description">
          <h3>Hotel Name</h3>
          <p>Description of the hotel goes here...</p>
          <p>Star Rating: <span class="stars">★★★★★</span></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="placeholder">
        <img src="hotel-image.jpg" alt="Hotel Image">
        <div class="description">
          <h3>Hotel Name</h3>
          <p>Description of the hotel goes here...</p>
          <p>Star Rating: <span class="stars">★★★☆☆</span></p>
        </div>
      </div>
      <div class="placeholder">
        <img src="hotel-image.jpg" alt="Hotel Image">
        <div class="description">
          <h3>Hotel Name</h3>
          <p>Description of the hotel goes here...</p>
          <p>Star Rating: <span class="stars">★★☆☆☆</span></p>
        </div>
      </div>
    </div>
  </div>
  