<div class="offer-container">
    <div class="offer">
      <div class="offer-image">
        <img src="path_to_offer_image.jpg" alt="Offer Image">
      </div>
      <div class="offer-details">
        <h2 class="offer-title">Special Offer</h2>
        <p class="offer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis urna euismod, vehicula neque sit amet, aliquam velit.</p>
        <div class="offer-actions">
          <button class="offer-button">Learn More</button>
          <button class="offer-button">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  